/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/*defined by spencer*/
header .dropdown-menu {
  padding: 10px;
  width: 250px;
}

header .dropdown-menu .input-group {
  margin: 10px;
}

header .dropdown-menu button.btn {
  margin: 10px auto 2px auto;
  display: block;
  width: 8em;
}

/*body*/
body {
  padding-top: 70px;
}

/*user view*/
div.userView aside{
  position:fixed;
  left:70px;
  top:70px;
}

div.userView .hero{
  width: 292px;
  height: 98px;
}

div.userView .hero_qs{
  background: url('../images/hero_head.png') no-repeat 0 0px;
}

div.userView .hero_dz{
  background: url('../images/hero_head.png') no-repeat 0 -100px;
}

div.userView .hero_sm{
  background: url('../images/hero_head.png') no-repeat 0 -200px;
}

div.userView .hero_lr{
  background: url('../images/hero_head.png') no-repeat 0 -300px;
}

div.userView .hero_dly{
  background: url('../images/hero_head.png') no-repeat 0 -400px;
}

div.userView .hero_fs{
  background: url('../images/hero_head.png') no-repeat 0 -500px;
}

div.userView .hero_ss{
  background: url('../images/hero_head.png') no-repeat 0 -600px;
}

div.userView .hero_zs{
  background: url('../images/hero_head.png') no-repeat 0 -700px;
}

div.userView .hero_ms{
  background: url('../images/hero_head.png') no-repeat 0 -800px;
}