<div ng-controller="hsArenaAnalysisApp.controllers.cards">
    <table class="table">
        <thead>
            <tr>
                <th>名称</th>
                <th>职业</th>
                <th>法力</th>
                <th>分类</th>
                <th>类型</th>
                <th>来源</th>
                <th>效果</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="card in cards">
                <td>{{card.name}}</td>
                <td>{{card.cardClass | klass}}</td>
                <td>{{card.cost}}</td>
                <td>{{card.cardSet | set}}</td>
                <td>{{card.cardType | type}}</td>
                <td>{{card.cardRarity | rarity}}</td>
                <td>{{card.cardEffect | effect}}</td>
            </tr>
        </tbody>
    </table>
</div>
