<div ng-controller="hsArenaAnalysisApp.controllers.user" class="userView">
    <!-- sidebar -->
    <aside>
        <button class="btn btn-success" ng-click="switchView()"><i class="fa fa-plus fa-fw"></i>新增记录</button>
        <button class="btn" ng-click="switchView()"><i class="fa fa-dashboard fa-fw"></i>统计面板</button>
    </aside>

    <!-- main -->
    <div>
        <!-- adding log view -->
        <div ng-show="showAdding" class="col-md-12">
            <section class="heroUsed row">
                <h4>1. 你选择的职业：{{heroUsed | hero}} <i class="fa fa-repeat" ng-click="redoHeroUsed()"></i>
                </h4>
                <div>
                    <div ng-repeat="hero in heros" class="col-md-4 hero {{'hero_' + hero}}" ng-click="selectHeroUsed($index)"></div>
                </div>
            </section>
            <section class="heroBanned row">
                <h4>2. 你ban掉的职业：
                    <span ng-show="heroBanned.length">{{(heroBanned[0] | hero) + ',' + (heroBanned[1] | hero)}}</span><i class="fa fa-repeat" ng-click="redoHeroBanned()"></i>
                </h4>
                <div>
                    <div ng-repeat="hero in heros" class="col-md-4 hero {{'hero_' + hero}}" ng-click="selectHeroBanned($index)"></div>
                </div>
            </section>
            <section class="battleResult row">
                <h4>3. 胜负场</h4>
                <div class="wins col-md-6">
                    <h4>胜场</h4>
                    <input type="number" ng-model="wins" max=12 min=0 step=1 ng-change="onChangeWins()">
                </div>
                <div class="loses col-md-6">
                    <h4>负场</h4>
                    <input type="number" ng-model="loses" max=3 min=0 step=1 ng-disabled="disableLoses">
                </div>
            </section>
            <section class="optional row">
                <h4>4. 选填</h4>
                <div class="col-md-4">
                    <h6>本轮最佳手牌</h6>
                    <input type="text" placeholder="搜索" ng-change="getBestCard()" ng-model="bestCardSearch">
                    <div class="bestCard" ng-show="isShownBestCard">
                        <img ng-src="{{bestCardModel.imageUrl}}" alt="{{bestCardModel.name}}">
                    </div>
                </div>
                <div class="col-md-4">
                    <h6>本轮最差手牌</h6>
                    <input type="text" placeholder="搜索">
                    <div class="worstCards"></div>
                </div>
                <div class="col-md-4">
                    <h6>本轮对手最佳手牌</h6>
                    <input type="text" placeholder="搜索">
                    <div class="bestCardsOp"></div>
                </div>
            </section>
            <button class="btn btn-primary" ng-click="submitLog()">提交</button>
        </div>
        <!-- personal analysis view -->
        <div ng-show="showDashBoard">
            <p>统计面板</p>
        </div>
    </div>
</div>
